/* fonts */

/* end of fonts */

/* variables */
:root {
  --primary-color: #14274a;
  --secondary-color: #e0b973;
  --white-color-1: #ffffff;
  --white-color-2: #f7f7f7;
}
/* end of variables */

/* reset styles */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*img {
  width: 100%;
  height: 100%;
}*/

/* end of reset styles */

/* typographi */
html {
  font-size: 0.687rem;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 0.812rem;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 0.937rem;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 1rem;
  }
  home{
    display: block;
  }
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  font-size: 1.3rem;
}
a {
  font-size: 1rem;
}

/* end of typographi */

/* global style */

/* end of global style */

/* header */

/* end of header */

/* navbar */

/* end of navbar */

/* home-page cart */
.home{
   margin-top: 10px;
}

.home-title{
  color: #3f506c;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 20px;
  
}

.home-page, .home-page2{
  display: flex;
}

.home-top-text-main, .home-bottom-text-main {
  flex-basis: 50%;
  padding-left: 150px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.home-top-title, .home-bottom-title{
  color: #132a4a;
  margin-bottom: 20px;
}

.home-top-text, .home-bottom-text{
  color: #4c526a;
  margin-bottom: 17px;
}

.home-button-top, .home-button-bottom{
  background-color: #e1bb74;
  color: #fffef7;
  border: none;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  font-weight:bold ;

  }

.home-top-img{
  flex-basis: 50%;
  padding-right: 150px;
  width: 600px !important;
  height: 400px !important;
}

.home-button-img{
  flex-basis: 50%;
  padding-right: 150px;
  width: 600px !important;
  height: 400px !important;
}

/* end of home-page cart */

/* rooms-page cart */

/* end of rooms-page cart */

/* Facilities-page cart */

/* end of Facilities-page cart */

/* contact-page */

/* end of contact-page */
