/* fonts */

/* end of fonts */

/* variables */
:root {
  --primary-color: #14274a;
  --secondary-color: #e0b973;
  --white-color-1: #ffffff;
  --white-color-2: #f7f7f7;
}
/* end of variables */

/* reset styles */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

/* end of reset styles */

/* typographi */
html {
  font-size: 0.687rem;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 0.812rem;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 0.937rem;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 1rem;
  }
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  font-size: 1.3rem;
}
a {
  font-size: 1.4rem;
}

/* end of typographi */

/* global style */

/* end of global style */

/* header */

/* end of header */

/* navbar */

/* end of navbar */

/* home-page cart */

/* end of home-page cart */

/* rooms-page cart */
.rooms-main {
  width: min(100%, 1124px);
  padding: 1rem 2rem;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 3rem 0;
}

.rooms-main h2,
.rooms-main p
{
  text-shadow: 0 0.1rem 0.1rem rgba(20, 39, 74, 0.3);
}

.rooms__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.info__title {
  color: var(--primary-color);
}
.info__text {
  color: var(--primary-color);
  text-align: center;
  width: min(90%, 994px);
}

.cart {
  margin: 2rem 0;
}

.cart__img {
  width: 100%;
  height: min(35vw, 526px);
}
.cart__title {
  background: var(--primary-color);
  color: var(--white-color-1);
  text-align: center;
  font-size: 2rem;
  padding: 1.2rem;
}
.cart__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
  border-bottom: 0.1rem solid var(--primary-color);
  border-left: 0.1rem solid var(--primary-color);
  border-right: 0.1rem solid var(--primary-color);
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.footer__link {
  color: var(--primary-color);
}
.footer-icon {
  display: inline-block;
  color: var(--white-color-1);
  background-color: var(--secondary-color);
  border-radius: 50%;
  padding: 0.4rem;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.footer__price {
  color: var(--white-color-1);
  background-color: var(--secondary-color);
  display: inline-block;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem 0;
  color: var(--primary-color);
}

.testimonials-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.testimonial__btns button {
  cursor: pointer;
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--white-color-1);
  padding: 0.25rem 1rem;
  font-size: 2rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
/* end of rooms-page cart */

/* Facilities-page cart */

/* end of Facilities-page cart */

/* contact-page */

/* end of contact-page */
