/* fonts */

/* end of fonts */

/* variables */
:root {
  --primary-color: #14274a;
  --secondary-color: #e0b973;
  --white-color-1: #ffffff;
  --white-color-2: #f7f7f7;
}
/* end of variables */

/* reset styles */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

/* end of reset styles */

/* typographi */
html {
  font-size: 0.687rem;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 0.812rem;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 0.937rem;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 1rem;
  }
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  font-size: 1.3rem;
}
a {
  font-size: 1.4rem;
}

/* end of typographi */

/* global style */

/* end of global style */

/* header */
.contact__header {
  position: relative;
  display:flex;
  flex-direction:column;
  align-items:center;

  background-color: #14274A;
  color: white;
  height: 40vh;
  box-shadow: 0 0 10px #14274A;
}

/** menu **/
.header__menu {
  position: absolute;
  display:flex;
  justify-content:right;
  line-height: 1.5;
  width: 80%;
  z-index:1;
}

.header__menu > li {
  list-style-type:none;
  margin: 20px 15px;
}

.menu__item {
  text-decoration: none;
  position:relative;
  font-size:1.2rem;
  color: white;
}

.menu__item::before {
  content: '';

  position: absolute;
  bottom: -5px;
  right:0;
  left:0;
  margin:0 auto;

  box-shadow: 0 -15px 10px #D2AA55;
  border-radius:100%;
  background-color: #9D9D9D;

  height: 1px;
  width: 0;
}

.menu__item:not(.item--active):hover::before {
  animation: expand 0.1s ease 0s 1 normal forwards;
}

@keyframes expand {
  0%  {width: 50%; bottom:-10px;}
  100%{width: 100%;bottom:-5px;}
}

.item--active::before {
  width:100%;
}

.menu__item:not(.item--active):hover {
  color: #D2AA55;
}

.item--active {
  color: #D2AA55;
}

/** end of menu **/
/** brand **/
.header__brand {
  position:absolute;
  left:10vw;
  top:0vw;
  background-color:#E0B973;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height:70px;
  width: 130px;
}

.brand__text {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:#14274A;
  font-size: 1.2rem;
  letter-spacing: 2px;
  height:100%;
  width:100%;
}

.brand__text > span {
  clear:both;
  color:#14274A;
  bottom:0px;
  letter-spacing: 4px;
  font-size: 0.6rem;
}
/** end of brand **/
/** header title **/
.header__title {
  position:absolute;
  width:100%;
  height:100%;

  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 1.8rem;
}
/** end of header title **/
/** extra **/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}
/** end of extra  **/


/* end of header */

/* navbar */

/* end of navbar */

/* home-page cart */

/* end of home-page cart */

/* rooms-page cart */
.rooms-main {
  width: min(100%, 1124px);
  padding: 1rem 2rem;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 3rem 0;
}

.rooms-main h2,
.rooms-main p
{
  text-shadow: 0 0.1rem 0.1rem rgba(20, 39, 74, 0.3);
}

.rooms__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.info__title {
  color: var(--primary-color);
}
.info__text {
  color: var(--primary-color);
  text-align: center;
  width: min(90%, 994px);
}

.cart {
  margin: 2rem 0;
}

.cart__img {
  width: 100%;
  height: min(35vw, 526px);
}
.cart__title {
  background: var(--primary-color);
  color: var(--white-color-1);
  text-align: center;
  font-size: 2rem;
  padding: 1.2rem;
}
.cart__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
  border-bottom: 0.1rem solid var(--primary-color);
  border-left: 0.1rem solid var(--primary-color);
  border-right: 0.1rem solid var(--primary-color);
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.footer__link {
  color: var(--primary-color);
}
.footer-icon {
  display: inline-block;
  color: var(--white-color-1);
  background-color: var(--secondary-color);
  border-radius: 50%;
  padding: 0.4rem;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.footer__price {
  color: var(--white-color-1);
  background-color: var(--secondary-color);
  display: inline-block;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem 0;
  color: var(--primary-color);
}

.testimonials-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.testimonial__btns button {
  cursor: pointer;
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--white-color-1);
  padding: 0.25rem 1rem;
  font-size: 2rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
/* end of rooms-page cart */

/* Facilities-page cart */

/* end of Facilities-page cart */

/* contact-page */
.contact__main {
  min-height:100vh;
  padding: 0 50px;
  padding-top:100px;
}

@media screen and (min-width: 1000px) {
  .contact__main {
    padding: 150px 100px;
    padding-bottom:100px;
  }
}

.contact__title     { font-size: 1.4rem;    }
.contact__paragraph { margin-top: 10px;     }
.contact__comments  {
  margin: 60px 0;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:start;
  flex-wrap:wrap;
}
.comments__info        { font-size: 1.4rem;    }
.comments__info > span { font-weight:bold;     }

.comments__form {
  display:flex;
  flex-direction:column;
  align-items:end;
  min-width:300px;
  max-width:400px;
  width:400px;
}

@media screen and (max-width: 850px) {
  .comments__form {
    max-width:100%;
    margin: 50px auto;
    width:100%;
  }
}

.comments__form > input:not([type="submit"]),
.comments__form > #message {
  display:block;
  width:100%;
  border:1px solid #9D9D9D;
  padding:5px;
  line-height:1.6rem;
  color: #25242a;
  margin-bottom:10px;
  resize:none;
}

.comments__form > label {
  margin-bottom:2px;
  width:100%;
  text-align:left;
}

.comments__form > #submit {
  background-color:#E0B973;
  width:100px;
  padding:10px;
  margin-top:10px;
  border-radius:5px;
  color:#14274A;
  cursor:pointer;
}
/* end of contact-page */

/* footer */
.main__footer {
  position:relative;
  bottom:0;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  padding:50px;
  box-shadow: 0 0 10px #14274A;
  background-color: #14274A;
  height:300px;
}

.main__footer::before {
  content:'';
  position:absolute;
  top:-35px;
  left:0;
  right:0;
  margin:0 auto;
  background-color: #14274A;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  box-shadow: 0 0 10px #14274A;
  width: 100px;
  height: 35px;
}

.footer__item {
  padding:10px;
  color:white;
  font-size:1rem;
}

.footer__item a {
  color:white;
  font-size:1rem;
}

.footer__item a:hover {
  color: #D2AA55;
}
.footer--brand {
  display:inline-flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-bottom:15px;
}

.footer--brand > span {
  clear:both;
  letter-spacing: 4px;
  font-size: 0.6rem;
}

.footer__links > li {
  margin:15px 0;
  font-weight:200;
}

.footer__social > li {
  margin:15px 0;
  font-weight:200;
}

.footer__social .fab {
  margin-right:15px;
}

.subscribe__title {
  font-size:1.1rem;
  margin-bottom:20px;
}

.subscribe__form > input[type="email"]{
  border:1px solid #E0B973;
  line-height:1.2rem;
  font-size:1rem;
  padding:10px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color:white;
  max-width:60%;
  height:40px;
}

.subscribe__form > input[type="email"]::placeholder {
  color:#9d9d9d;
}

.subscribe__form > input[type="submit"]{
  background-color:#E0B973;
  color:#14274A;
  line-height:1.2rem;
  font-size:1rem;
  padding:10px;
  height:40px;
  max-width:110px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: 1px;
  margin-left: -5px;
  cursor:pointer;
}


@media screen and (max-width: 850px) {
  .main__footer {
    height:400px;
  }
}
/* end of footer */

